.App {
  text-align: center;
}

.board {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

.team {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.directors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.person {
  margin: 30px;
  cursor: pointer;
}

.spotlight {
  display:  flex;
  justify-content: center;
}
